<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Set One year for static files
    <filesMatch ".(gif|ico|js|css)$">
        Header set Cache-Control "max-age=31536000, public"
    </filesMatch>

    # Set One week for uploaded files
    <filesMatch ".(jpg|jpeg|png|pdf|doc|docx|xls|xlsx|ppt|pptx)$">
        Header set Cache-Control "max-age=604800, public"
    </filesMatch>
</IfModule>
